<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Exito</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

	<div class="mensaje exitoso">
		
		<h1>Operacion Exitosa</h1>
		<p>La operacion se ha logrado con exito</p>
		<a href="/" class="text-decoration-none text-danger">
		<button type="button" class="btn btn-outline-danger" >Volver al menu</button></a>

	</div>
	
</body>
</html>

    